<div class="col-md-6">
  <% if @friends.any? %>
<h1>
<% if @user == current_user %>
  Your friends
<% else %>
  <%= @user.name %>'s friends
<% end %>
</h1>
<div>
  <% @friends.each do |friend| %>
  <h3><%= link_to "#{friend.name}",
                              user_path(friend) %></h3>
  <p><%= friend.email %></p>
  <% if @user == current_user %>
    <%= link_to "Unfriend", friendship_path(friend.id), method: "delete" %>
    <% end %>
  <% end %>
</div>
<% end %>
</div>

<div class="col-md-6">
  <% if @invitations.any? %>
<h1>Pending Friends Requests</h1>
<div>
<% if @user == current_user %>
    <% @invitations.each do |invitation| %>
    <h3><%= link_to "#{invitation.from_user.name}",
                                user_path(invitation.from_user) %></h3>
    <p><%= invitation.from_user.email %></p>
    <%= link_to "Accept", friendships_path(friendship: {
                                                                  user_id: current_user.id,
                                                                  friend_id: invitation.from_user.id
                                                                  },
                                                                invitation: invitation.id),
                                      method: "post" %>
    <%= link_to "Deny", invitation_path(invitation), method: "patch" %>
    <% end %>
  <% end %>
</div>
<% end %>
</div>
