<div class="container">
  <div class="jumbotron">
  <h1><%= @user.name %>'s Profile</h1>
  </div>


<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
    <li><a href="#tab2" data-toggle="tab">Work</a></li>
    <li><a href="#tab3" data-toggle="tab">Education</a></li>
    <li><a href="#tab4" data-toggle="tab">Address</a></li>
    <li><a href="#tab5" data-toggle="tab">Phone</a></li>
    <li><a href="#tab6" data-toggle="tab">Birthday</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>Name: <%= @user.name %></p>
      <p>Email: <%= @user.email %></p>
    </div>
    <div class="tab-pane" id="tab2">
      <h3>Work place</h3>
      <hr>
      <% if @info && @info.work %>
        <p><%= @info.work %></p>
      <% else %>
        <p>Not given</p>
      <% end %>

    </div>
    <div class="tab-pane" id="tab3">
      <h3>University or High School Attended</h3>
      <hr>
      <% if @info && @info.education %>
        <p><%= @info.education %></p>
      <% else %>
        <p>Not given</p>
      <% end %>
    </div>
    <div class="tab-pane" id="tab4">
      <h3>Residence Information</h3>
      <hr>
      <% if @info && @info.address %>
        <p><%= @info.address %></p>
      <% else %>
        <p>Not given</p>
      <% end %>
    </div>
    <div class="tab-pane" id="tab5">
      <h3>Phone coordinates</h3>
      <hr>
      <% if @info && @info.phone %>
        <p><%= @info.phone %></p>
      <% else %>
        <p>Not given</p>
      <% end %>
    </div>
    <div class="tab-pane" id="tab6">
      <h3>Date of birth</h3>
      <hr>
      <% if @info && @info.birthday.strftime('%d %B %Y') %>
        <p><%= @info.birthday.strftime('%d %B %Y') %></p>
      <% else %>
        <p>Not given</p>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
<% if @user == current_user %>
  <% if @info %>
    <%= link_to 'Update profile', edit_info_path(@info), class: 'btn btn-success btn-lg' %>
  <% else %>
  <%= link_to 'Create profile', new_info_path, class: 'btn btn-success btn-lg' %>
  <% end %>
<% end %>

</div>
</div>
