<div class="jumbotron">
  <div class="container">
  <h1><%= current_user.name %></h1>
  </div>
  <ul class="nav nav-tabs">
    <li><%= link_to 'About', profile_user_path %></li>
    <li><%= link_to 'Friends', friends_user_path %></li>
  </ul>
</div>

<%= render 'shared/create_post' %>

<% @posts.each do |post| %>
<div class="well well-lg">
  <h3><%= current_user.name %></h3>
  <small><%= time_ago_in_words(post.created_at) %> ago</small>
  <p><%= post.content %></p>
  <p><%= post.likes %></p>
  <strong>Comments:</strong>
  <div>
    <% post.comments.each do |c| %>
    <p><%= c.content %></p>
    <% end %>
  </div>
</div>
<% end %>



