<div class="container">
  <div class="jumbotron">
    <h1><%= @user.name %></h1>
  </div>
  <ul class="nav nav-tabs">
    <li><%= link_to 'About', profile_user_path %></li>
    <li><%= link_to 'Friends', friends_user_path %></li>
  </ul>
</div>

<% if @post %>
  <%= render 'shared/update_post' %>
<% else %>
  <%= render 'shared/create_post' %>
<% end %>


<%= render @posts %>
