<div class="container">
  <div class="jumbotron">
  <h1><%= @user.name %></h1>
  <h4 id="about"><%= link_to 'About', profile_user_path %></h4>
  <h4 id="friends"><%= link_to 'Friends', friends_user_path %></h4>
  </div>

  <div class="well" id="create-post">
    <%= render 'shared/create_post' %>
  </div>

  <div id="posts">
  <%= render @posts %>
  </div>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @posts %>
</div>







