<div id="post-<%= post.id %>">
    <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= post.author.name %> <small class="muted">posted <%= time_ago_in_words(post.created_at) %> ago</small>
        <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target="#updatePost-<%= post.id %>">Edit</a></li>
          <li><%= link_to "Delete", post_path(post), method: :delete, remote: true, data: {confirm: "Are you sure?"} %></li>
        </ul>
      </div>
      </h3>

    </div>

    <div class="panel-body">
      <%= post.content %>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="updatePost-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="updatePostLabel">
        <%= render partial: 'update_post', locals: {post: post} %>
    </div>

    <div class="panel-footer">
      <div id="likes-<%= post.id %>">
          <%= render partial: 'likes/like', locals: {post: post} %>
      </div>
      <div id="links_like-<%= post.id %>">
        <%= render partial: 'likes/links_like', locals: {post: post} %>
      </div>
    </div>

      <div class="panel-footer">
      <div id="comments">
        <%= render post.comments.order(created_at: :asc) %>
      </div>

      <div id="comment_form">
        <%= form_for(:comment, url: comments_path, html: {class: "form", id: "create_comment"}, remote: true) do |f| %>
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="input-group">
            <%= f.text_field :content, placeholder: "Write a comment...", class: "form-control" %>
            <div class="input-group-btn">
              <%= f.submit "Submit", class: "btn btn-default pull-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





