<div class="container">
  <% @posts.each do |post| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= post.author.name %> <small class="muted">posted <%= time_ago_in_words(post.created_at) %> ago</small></h3>
    </div>
    <div class="panel-body">
      <%= post.content %>
    </div>
    <div class="panel-footer">
      <div>
      <% if post.likes.map{|like| like.user}.include? current_user %>
        <%= link_to "Unlike", like_path(post_id: post.id, user_id: current_user.id),
                                            method: 'delete' %>
      <% else %>
          <%= link_to "Like", likes_path(like: {post_id: post.id, user_id: current_user.id}),
                                            method: 'post' %>
      <%= link_to "Comment", new_comment_path(post_id: post.id) %>
      <% end %>
      </div>
      <div>
        <% if post.likes.any? %>
          <% if post.likes.find_by(user: current_user.id) %>
            <% if post.likes.count == 1 %>
            You like this post
            <% elsif post.likes.count > 1 %>
            You and <%= 'other'.pluralize(post.likes.count - 1) %>  like this post
            <% end %>
        <% else %>
          <% if post.likes.count == 1 %>
            <%= post.likes.first.user.name %> likes this post
          <% elsif post.likes.count > 1 %>
            <%= post.likes.last.user.name %> and <%= 'other'.pluralize(post.likes.count - 1) %> like this post
          <% end %>
        <% end %>
      <% end %>
      </div>
      <% post.comments.each do |comment| %>
      <div class="well">
      <% if comment.user == current_user %>
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit", edit_comment_path(id: comment.id, post_id: post.id) %></li>
            <li><%= link_to "Delete", comment_path(comment), method: 'delete' %></li>
          </ul>
        </div>
        <% end %>
        <strong><%= comment.user.name %></strong>
        <p><%= comment.content %></p>
      </div>
      <% end %>
      <div class="well clearfix" id="post-comment">
        <%= form_for(:comment, url: comments_path, html: {class: "form"}) do |f| %>
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="input-group">
            <%= f.text_field :content, placeholder: "Write a comment...", class: "form-control" %>
            <div class="input-group-btn">
              <%= f.submit "Submit", class: "btn btn-default pull-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  </div>



