<div>
    <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= post.author.name %> <small class="muted">posted <%= time_ago_in_words(post.created_at) %> ago</small></h3>
    </div>
    <div class="panel-body">
      <%= post.content %>
    </div>
    <div class="panel-footer">
      <div>
      <% if post.likes.map{|like| like.user}.include? current_user %>
        <%= link_to "Unlike", like_path(post_id: post.id, user_id: current_user.id),
                                            method: 'delete' %>
      <% else %>
          <%= link_to "Like", likes_path(like: {post_id: post.id, user_id: current_user.id}),
                                            method: 'post' %>
      <% end %>
      </div>
      <div>
        <% if post.likes.any? %>
          <% if post.likes.find_by(user: current_user.id) %>
            <% if post.likes.count == 1 %>
            You like this post
            <% elsif post.likes.count > 1 %>
            You and <%= 'other'.pluralize(post.likes.count - 1) %>  like this post
            <% end %>
        <% else %>
          <% if post.likes.count == 1 %>
            <%= post.likes.first.user.name %> likes this post
          <% elsif post.likes.count > 1 %>
            <%= post.likes.last.user.name %> and <%= 'other'.pluralize(post.likes.count - 1) %> like this post
          <% end %>
        <% end %>
      <% end %>
      </div>

      <hr>

      <div id="comments">
        <%= render post.comments.order(created_at: :asc) %>
      </div>

      <div id="comment_form">
        <%= form_for(:comment, url: comments_path, html: {class: "form", id: "create_comment"}, remote: true) do |f| %>
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="input-group">
            <%= f.text_field :content, placeholder: "Write a comment...", class: "form-control" %>
            <div class="input-group-btn">
              <%= f.submit "Submit", class: "btn btn-default pull-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





