  <div class="jumbotron">
    <div class="container">
      <h1>Welcome, <%= current_user.name %>!</h1>
      <p>Good to have you back.</p>
    </div>
  </div>

<h2 class="text-center">Feed</h2>

<%= render 'shared/create_post' %>

<% @posts.each do |post| %>
<div class="well well-lg">
  <h3><%= @users.find(post.author_id).name %></h3>
  <small><%= time_ago_in_words(post.created_at) %></small>
  <p><%= post.content %></p>
  <p><%= post.likes %></p>
  <fieldset>
    <div>
      <%= link_to "Comment", new_comment_path(post_id: post.id) %>
    </div>
  </fieldset>
  <div>
    <% post.comments.each do |c| %>
    <strong><%= c.user.name %></strong>
    <p><%= c.content %></p>
    <% end %>
  </div>
</div>
<% end %>


